<!DOCTYPE html>
  <html lang="en">
    
    <head>
      
      <title>校园活动</title>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!--控制编码，ie8，和页面初始化-->
      
      <script src="javascripts/jquery-2.1.1.min.js"></script>
      <script src="javascripts/bootstrap.min.js"></script>
      <script src="javascripts/koahelloword.js"></script>

      <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
      <link rel="stylesheet" href="stylesheets/bootstrap-theme.min.css">
      <link rel="stylesheet" href="stylesheets/bootstrap-responsive.css">
      <link rel="stylesheet" href="stylesheets/帮助.css">
      
     
  </head>
  <body>
    <div class="container">
      <div class="textxiaoye"></div>
      <div class="textdaye">
        <form>我们是一群风中奔跑的孩子，<br>
           从不将就开始在不妥协中坚持<br>
           我们把成长当做折腾 ，
           把嘲笑与怯懦消化成诗<br>
           在大四的尾巴，
           我们想要留下<br>
           留下一粒种子，
           留下一段故事<br>
           我们想用一个网站去认识曾经的自己<br>
           越过时代的熙攘，
           我们想要把有趣和美做到极致<br>
           拒绝情怀和装逼，
           more action less lauguage，
           多做少bb<br><br><br>
          

        </form>
          
          <div>
             <h5>编码&amp;设计:&nbsp;吴雨洲&nbsp;&nbsp;&nbsp;编码:&nbsp;李齐雨&nbsp;&nbsp;&nbsp;设计:&nbsp;池汉臣&nbsp;&nbsp;&nbsp;
            彩绘:&nbsp;冯佳瑞&nbsp;&nbsp;&nbsp;素描:&nbsp;候雅欣&nbsp;&nbsp;&nbsp;头像设计:&nbsp;林露颖&nbsp;&nbsp;
            
            </h5>
          <h5>
         请加入我们，让我们一起成长</h5><br>
          </div>
 <address>
  <strong>联系方式</strong><br>
  
  <abbr title="qq">qq</abbr> 2297235604
</address>

<address>
  <strong>邮箱</strong><br>
  2297235604@qq.com
</address>



      </div>
      
    </div>

  <%= include footer %>

    </body>