<link rel="stylesheet" href="stylesheets/footer.css">
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="copy">&copy; 2015 · 起跳团队· 版权所有&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="/about">加入我们</a>&nbsp;&nbsp;&nbsp;渝ICP备15005740号
        </div>
      </div>
     </div>
  </div>
</footer>