<!DOCTYPE html>
  <html lang="en">
    
    <head>
      
      <title>校园活动</title>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!--控制编码，ie8，和页面初始化-->
      
      <script src="javascripts/jquery-2.1.1.min.js"></script>
      <script src="javascripts/bootstrap.min.js"></script>
      <script src="javascripts/koahelloword.js"></script>

      <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
      <link rel="stylesheet" href="stylesheets/bootstrap-theme.min.css">
      <link rel="stylesheet" href="stylesheets/bootstrap-responsive.css">
      <link rel="stylesheet" href="stylesheets/帮助.css">
      
     
  </head>
  <body>
    <div class="container">
      <div class="textxiaoye"></div>
      <div class="textdaye">
        <form  class="textdie">

           <p >
          1.为保障账号安全请使用新账号，和全新密码<br><br>
          2.本站暂时不提供社团活动随意发布，如果有活动宣传需要的，请通知我们，我们后台审核添加<br><br>
          3.本站的校园易物版块，请大家把图片切成480*480px，72dpi保证风格统一美观<br><br>
          4.这个版本是试运行的beta版本，在下学期9月份我们将推出迭代后的一代产品<br>
          <br>
          5.如果有人觉得这个版本仍需改进，欢迎提供新鲜代码我们也会酌情采纳，或者好的建议请根据加入我们的联系方式进行反馈<br>
          <br>
          6.请大家遵守网络秩序，不发布反动，违法，违规信息，一经发现封号，且自行承担法律责任<br>
          <br>
          7.本网站所有内容的版权归起跳所有，未经允许盗用自行承担法律责任<br>
          <br>
          8.如果你也想加入我们请点击主页页脚加入我们，我们一起成长<br>
          <br>
          9.请尽量使用ie9以上版本，chrome，firefox，safari浏览器<br>
          <br>

          
          <br>
        </p>
          

        </form>
          
          


      </div>
      
    </div>
    
    <%= include footer %>



    </body>