<!DOCTYPE html>
  <html lang="en">
    
    <head>
      
      <title>主页</title>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <script src="javascripts/jquery-2.1.1.min.js"></script>
      <script src="javascripts/bootstrap.min.js"></script>
      
      <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
      <link rel="stylesheet" href="stylesheets/bootstrap-responsive.css">
      <link rel="stylesheet" href="stylesheets/主页面.css">
     
     
    </head>
     
       
   
    <body>
   
<nav class="navbar navbar-default ">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/home">
        <img alt="Brand" src="fonts/起跳logo.png">
      </a>
      <a class="navbar-brand" href="/home">首页</a>
    </div>

    <div >
      <ul class="nav navbar-nav">
        <li><a href="/activity">校园活动</a></li>
        <li><a href="/swap">校园易物</a></li>
        <li><a href="/user" class="nav-font">个人中心</a>
        </li>
        <li><a href="/help" class="nav-font needhelp">帮助</a></li>
        

      </ul>
      <% if(user){ %>
      <ul class="nav navbar-nav navbar-right">
      <% if (title === '校园易物') { %>

      <li style="margin-top:10px;">
        <form class="form-inline" method="post" action="/dealSearch">
          <input type="text" class="form-control" name="query" id="search" placeholder="想要找什么呢">
          <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
        </form>
      </li>
      <%}%>


        <li><a href="/signout">登出</a></li>
      <% } %>

      <% if (!user) {%>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/signin">登入</a></li>
        </ul>
      <%}%>
      
      </ul>
      
    </div>

  </div>
</nav>




<script type="text/javascript">
    function check() {
    //check whether browser fully supports all File API
    if (window.File && window.FileReader && window.FileList && window.Blob)
    {
        //get the file size and file type from file input field
        var fsize = $('#i_file')[0].files[0].size;
        var ftype = $('#i_file')[0].files[0].type;
        var fname = $('#i_file')[0].files[0].name;
        
       switch(ftype)
        {
            case 'image/png':
            case 'image/gif':
            case 'image/jpeg':
            case 'image/pjpeg':
                break;
            default:
                alert('不支持的文件格式');
                return false;
        }

        if(fsize>2097153){
          alert('文件大小超过2m!请重新上传一个小一点的图像!');
          return false;
        }
        if(fname.length>128){
          alert('您的文件名过长，请重命名后上传!');
          return false;
        }

        var title = $('#goods_title')[0].value;
      var price = $('#goods_price')[0].value;
      var desc = $('#goods_desc')[0].value;
      if(title.length>12||title.length<=1){
        alert('物品名称长度应当在2到12个字符之间');
        return false;
      }
      if(isNaN(price)){
        alert("请填写一个数字");
        return false;
      }
      if(price.length<=0){
        alert("价格不能为空")
        return false;
      }
      if(desc.length>140){
        alert('物品描述应当在140个字符以内');
        return false;
      }
      return true;

        return true;

    }else{
        alert("请升级您的浏览器，因为您的浏览器缺乏我们需要的某些特性！");
        return false;
    }

};
     </script>

   <%= include info %>

    <!-- 轮播版块 --> 
    <div class= "home_bigimg" style="position:absolute; width:100%;">
        <div class="row-fluid lunbo">
          
           
          <div class=" col-lg-2 col-md-1"></div>

            <div id="myCarousel" class="carousel slide  col-lg-8 col-md-10 col-sm-12 col-xs-12" >
              
              <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" 
                class="active">
                </li>
                <li data-target="#myCarousel" data-slide-to="1" ></li>
                <li data-target="#myCarousel" data-slide-to="2" ></li>
                <li data-target="#myCarousel" data-slide-to="3" ></li>
              </ol>

              <div class="carousel-inner" role="listbox">

                <div class="item active">
                  <img src="images/library-438389_1280副本.jpg" 
                  alt="图书馆" class="tushuguan">

                   <div class="container">
                    <div class="carousel-caption">
                       <h1>欢迎加入本网站.</h1>
                       <p class="lead">本网站是一个大学生的服务平台</p>
                       
                       
                   </div>            
                   </div>
                </div>
                <div class="item">
                  <img src="images/a0b7e5ce874f4007555400757af634f4.jpg" alt="西大北门">
                  <div class="container">
                    <div class="carousel-caption">
                   
                   <h1>校园易物</h1>
                   <p class="lead">这里有闲置物品的信息</p>
                    </div>
                  </div>

                </div>
                  <div class="item">
                  <img src="images/20131024161157-1613061380.jpg"
                   alt="西大一角">
                   <div class="container">
                    <div class="carousel-caption">
                   
                   <h1>校园活动</h1>
                   <p class="lead">这里有有校园活动的展示</p>

                 </div>
               </div>
                </div>
                   <div class="item">
                  <img src="images/0014.jpg" alt="西大彩绘">
                  <div class="container">
                    <div class="carousel-caption">
                  <h1>更多精彩</h1>
                  <p class="lead">希望大家的反馈，我们也会在下学期带来一个全新产品</p>
                </div>
              </div>
                </div>

              </div>

              <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                 <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                 
              </a>

                <a class="carousel-control right" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true">
                </span>
                  
                </a>
            </div>
            <div class="col-md-1"></div>
          
          </div>
       </div>
      

      

             
    

 <%= include footer %>
    
</body>
