<!DOCTYPE html>
  <html lang="en">
    <head>
      <title>起跳</title>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="keywords" content="校园活动 校园易物  起跳 信息发布平台">
      <meta name="description" content="一个大学生的信息服务综合平台">    
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
      <link rel="stylesheet" href="stylesheets/index.css">
    </head>
    <body>
      <div class="center">
        <section class="hero" id="hero" position="relative">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2 text-center inner">
                <h1 ><img src="fonts/起跳字体白蓝绿.png"></h1>
                <h2><font color="white">不装&amp; 这就是青春</font></h2>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-md-offset-3 text-center ">
                <a href="/register" class="learn-more-btn">
                  <h4>加入起跳</h4>
                </a> &nbsp;&nbsp;
                <a href="/signin" class="learn-more-btn">
                  <h4>账号登录</h4>
                </a>
              </div>
            </div>
          </div>
        </section>
      </div>

<footer class="down">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="copy">&copy; 2015 · 起跳团队· 版权所有&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="/about">加入我们</a>&nbsp;&nbsp;&nbsp;渝ICP备15005740号
        </div>
      </div>
     </div>
  </div>
</footer>    </body>