
<html lang="zh-CN">
  <head>
  
      
      <title>登录</title>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      
      
      <script src="javascripts/jquery-2.1.1.min.js"></script>
      <script src="javascripts/bootstrap.min.js"></script>
      <script src="javascripts/denglu.js"></script>
      
      <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
      <link rel="stylesheet" href="stylesheets/bootstrap-theme.min.css">
      <link rel="stylesheet" href="stylesheets/bootstrap-responsive.css">
      <link rel="stylesheet" href="stylesheets/登录.css">
      <script type="text/javascript">
      function check(){
        var username = $('#account')[0].value;
        var password = $('#password')[0].value;
        if(username.length>20||username.length<6){
          alert('用户名长度应当在6到20个字符之间')
          return false;
        }
        if(password.length>20||password.length<6){
          alert('密码应当在6到20个字符之间！');
          return false;
        }
        return true;
      };
      </script>
  </head>
  <body>
     <nav class="navbar navbar-default ">
         <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
               <a class="navbar-brand" href="/home">
                  <img alt="Brand" src="fonts/起跳logo.png">
              </a>
              <a class="navbar-brand" href="/home">随便逛逛</a>
            </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
           <div >
              <ul class="nav navbar-nav">
              
              <li><a href="/help">帮助</a>
              </li>
              </ul>
    
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<%= include info %>
<div class="flash_user">
  

<param name="movie" value="http://e.jiaju99.com/efiles/banner.swf">

<param name="quality" value="high"><param name="wmode" value="transparent">

<embed src="images/1.swf" quality="high"

pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="1280" height="840"></embed>

</div>






     
   

      <div  class="container">
        <section class="loginBox_signin row-fluid">
          <form action="/signin" method="POST" class="span12" onsubmit="return check()">

            <h3 id="denglu">用户登录</h3>
            <p>用户名:<input type="text" name="account" id="account" placeholder="用户名"class="form-control form-control_signin"></p>
            <p>密码：&nbsp;<input type="password" name="password" placeholder="请输入密码" class="form-control form-control_signin" id="password"></p>
      
            <section class="row-fluid">
              <section class="span6 xiaci">
                <label><a href="/register">没有账号？</a>
                </label>
            </section>
            <section class="span6 ">
            <input type="submit" value=" 登录 " class="btn btn-primary">
          </section>
            </section>
          
         </form>
        </section>
    </div>
    <!-- /container -->
      <footer>
          <div class="container">
            <div class="row">

               <div class="demo">
            <div class="demo-bg"></div><!-- 透明背景 -->
            <div class="copy">&copy; 2015 · 起跳团队· 版权所有&nbsp;&nbsp;&nbsp;&nbsp;<a href="/about">加入我们</a></div>
            <!-- 不透明文字 -->
              </div>
            </div>
          </div>
     </footer>

  </body>
</html>