
<!DOCTYPE html>
  <html lang="en">
    
    <head>
      
      <title>校园活动</title>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!--控制编码，ie8，和页面初始化-->
      
      <script src="../../js/jquery-2.1.1.min.js"></script>
      <script src="../../js/bootstrap.min.js"></script>
      <script src="../../js/upload.js"></script>
      
      <link rel="stylesheet" href="../../css/bootstrap.min.css">
      <link rel="stylesheet" href="../../css/bootstrap-theme.min.css">
      <link rel="stylesheet" href="../../css/bootstrap-responsive.css">
      <link rel="stylesheet" href="../../css/完善信息.css">
  
 
</head>

<body>
    <nav class="navbar navbar-default ">
         <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <a class="navbar-brand" href="/home">首页</a>
            </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
           <div >
              <ul class="nav navbar-nav">
              <li><a href="/home/action">校园活动</a></li>
              <li><a href="/home/swrap">校园易物</a></li>
             
       
         <li><a href="/home/user" class="navbar-right">个人中心</a></li>
         <li><a href="/home/help" class="nav-font">帮助</a></li>
     
      </ul>
     
       </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
    </nav>



   
<form method="post" action="/goods/inform" enctype="multipart/form-data">
    <div class="col-md-1" ></div>
<div class="col-md-9 panel relative" style="display: block;">
    <table>
      <h1>图片上传</h1>
     <p>希望大家把图片切成480*480 72dpi </p>
 

    <input type="file" name="file" multiple>
    
 

        
        <tr>
            <td>qq：</td><td><input type="text" name="address" id="address" /></td>
        </tr>
         <tr>
            <td>微信：</td><td><input type="text" name="address" id="address" /></td>
        </tr>
        <tr>
            <td>标题：</td><td><input type="text" name="title" id="title" /></td>
        </tr>
        <tr>
            <td>简介：</td><td><input type="text" name="desc" id="desc" /></td>
        </tr>
       
      
        <tr>
            <td>价格：</td><td><input type="text" name="price" id="price" /></td>
        </tr>

        <tr>
            <td>标签：</td><td><input type="text" name="tags" id="tags" /></td>
        </tr>
        
        <tr>
          <td>特殊要求:</td><td> <select >
                      <option value="0" daisabled seleacted="selected">请选择:</option>
                      <option value="2015">只卖学妹</option>
                      <option value="2014">只卖学弟</option>
                      <option value="2013">不要钱白送</option>
                      
                      
                     </select></td></tr>
        <tr>
            <td colspan="2"><input type="submit" onClick = "uploadFile()" value="上传"></td>
        </tr>
    </table>
  </div>
</form>


  <footer>
          <div class="container" >
            <div class="row">
              
               <div class="xiaocopy"></div>
               <div class="copy">&copy; 2015 · 起跳团队· 版权所有&nbsp;&nbsp;&nbsp;&nbsp;<a href="/about" id="jiaru">加入我们</a></div>

             
            </div>
          </div>
        </footer>

     

     
    
</body>