
<!DOCTYPE html>
  <html lang="en">
    
    <head>
      
      <title>校园活动</title>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!--控制编码，ie8，和页面初始化-->
      
      <script src="../js/jquery-2.1.1.min.js"></script>
      <script src="../js/bootstrap.min.js"></script>
      <script src="../js/upload.js"></script>
      
      <link rel="stylesheet" href="../css/bootstrap.min.css">
      <link rel="stylesheet" href="../css/bootstrap-theme.min.css">
      <link rel="stylesheet" href="../css/bootstrap-responsive.css">
      <link rel="stylesheet" href="../css/个人中心.css">
  
 
</head>
<body>
   <nav class="navbar navbar-default ">
         <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <a class="navbar-brand" href="/home">首页</a>
            </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
           <div >
              <ul class="nav navbar-nav">
              <li><a href="/home/action">校园活动</a></li>
              <li><a href="/home/swrap">校园易物</a></li>
             
       
         <li><a href="/home/user" class="navbar-right">个人中心</a></li>
         <li><a href="/home/help" class="nav-font">帮助</a></li>
     
      </ul>
     
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container">
<div class="col-md-1 "></div>
<div class="col-md-9 panel relative" style="display: block;">
<a href="/home/user/img"><h2>上传图片</h2></a>

<a href="/home/user/inf"><h2>完善信息</h2></a>

   
 </div>
</div>
     <footer>
          <div class="container">
            <div class="row">
              <div class="col-md-12">
               
               <div class="copy">&copy; 2015 · 起跳团队· 版权所有&nbsp;&nbsp;&nbsp;&nbsp;<a href="/about" id="jiaru">加入我们</a></div>

              </div>
            </div>
          </div>
        </footer>
    
</body>