<!DOCTYPE html>
  <html lang="en">
    
    <head>
      
      <title>主页</title>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!--控制编码，ie8，和页面初始化-->
      
      <script src="js/jquery-2.1.1.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <link rel="stylesheet" href="css/bootstrap-theme.min.css">
      <link rel="stylesheet" href="css/bootstrap-responsive.css">
      <link rel="stylesheet" href="css/主页面.css">
    
     
      

    </head>
     
       
   
    <body>
        <nav class="navbar navbar-default ">
         <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <a class="navbar-brand" href="/home">首页</a>
            </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
           <div >
              <ul class="nav navbar-nav">
              <li><a href="/home/action">校园活动</a></li>
              <li><a href="/home/swrap">校园易物</a></li>
              
         <li><a href="/home/user" class="navbar-right">个人中心</a></li>
         <li><a href="/home/help" class="nav-font">帮助</a></li>
      </ul>
      
      
     
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



 
    <!-- 轮播版块 --> 
    <div class="container-fluid">
        <div class="row-fluid">
          
          <div class="span9">

            <div id="myCarousel" class="carousel slide" >
              
              <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1" ></li>
                <li data-target="#myCarousel" data-slide-to="2" ></li>
                <li data-target="#myCarousel" data-slide-to="3" ></li>
              </ol>

              <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <img src="image/library-438389_1280副本.jpg" alt=""></div>
                <div class="item">
                 
                  <img src="image/a0b7e5ce874f4007555400757af634f4.jpg" alt=""></div>
                  <div class="item">
                  <img src="image/20131024161157-1613061380.jpg" alt=""></div>
                   <div class="item">
                  <img src="image/0014.jpg" alt=""></div>
              </div>

              <a class="carousel-control left" href="#myCarousel" data-slide="prev"><h1>&lsaquo;</h1></a>
              <a class="carousel-control right" href="#myCarousel" data-slide="next"><h1>&rsaquo;</h1></a>
            </div>
          </div>
         <div class="span3">
                <img src="image/a2385f1385c7023c06054f350daaa813.gif" alt="">
               <div class=" panel relative" style="display: block; margin-top:40px">

                 <a href="/register" ><h3>&nbsp;&nbsp;加入起跳</h3></a>
                 <a href="/signin" ><h3>&nbsp;&nbsp;登录</h3></a>
          
               </div>
              </div>

         </div>
        </div>
      </div>



     <div class=" container-fluid" style="margin-top:40px;margin-buttom:-130px;">
      <div class="row-fluid"> 
        <div class="span3">
          <div class=" panel relative " style="display: block;">
          <a href="/home/action" ><h2>&nbsp;&nbsp;校园活动</h2></a>
          <h3>&nbsp;&nbsp;热闹是我们的<br>
            &nbsp;&nbsp;他们只是在凑热闹</h3></div>
          </div>


        <div class="span9"> 
     
      
           <div class=" panel relative" style="display: block;">
          <div class="row">
                <div class="col-md-7">
                 <img src="../image/a11b67ba4848211d9264ed738c4654e7 2.jpg" class="ipad-news">
                </div>
                
                <div class="col-md-5">
                <div class="padding-huge ">
                    <h1>答辩ing</h1>
                    <p class="wo">毕业论文答辩是一种有组织、有准备、有计划、有鉴定的比较正规的审查论文的重要形式。为了搞好毕业论文答辩，在举行答辩会前，校方、答辩委员会、答辩者（撰写毕业论文的作者）三方都要作好充分的准备。在答辩会上，考官要极力找出来在论文中所表现的水平是真是假。
。
                    </p>
                    <br>
                
                </div>
            </div>
         </div>
       </div>
     </div>
   </div>
</div>


<div class=" container-fluid" style="margin-top:40px;margin-buttom:-130px;">
      <div class="row-fluid"> 
        <div class="span3">
          <div class=" panel relative " style="display: block;">
          <a href="/home/swrap" ><h2>&nbsp;&nbsp;校园易物</h2></a>
          <h3>&nbsp;&nbsp;传递也是传承，<br>
            &nbsp;&nbsp;学姐的床单学弟拿好</h3></div>
          </div>

     <div class="span9"> 
    <div itemscope itemtype="" class="prod col-xs-6 product col-sm-4" id="382425" data-product="382425">
                <a class="prod-img"  href="/need/goods" target="_blank"><img itemprop="image" src="../image/00ea8016ef482878018dedb822fc1ded.jpg">
                </a>
                <div class="price login-box" >
                  <span>39<span class="rmb">￥</span></span>
              </div>
              <div class="prod-user">
                <div class="avatar pull-left"><img src="../image/4.jpg">
                </div>
                <a href="">微信:</a>
                <a href="">qq:</a>

              </div>
              <div class="like">
                <span class="bt-like login-box" data-toggle="tooltip" data-placement="buttom"  >
              </span>
            </div>
            </div>
<div itemscope itemtype="" class="prod col-xs-6 product col-sm-4" id="382425" data-product="382425">
                <a class="prod-img"  href="image/4副本.jpg" target="_blank"><img itemprop="image" src="../image/4d7d60d32b14fae1b19920af7f9fa2ab.jpg">
                </a>
                <div class="price login-box" >
                  <span>39<span class="rmb">￥</span></span>
              </div>
              <div class="prod-user">
                  <div class="avatar pull-left"><img src="../image/4.jpg">
                </div>
                <a href="">微信:</a>
                <a href="">qq:</a>

              </div>
              <div class="like">
                <span class="bt-like login-box" data-toggle="tooltip" data-placement="buttom"  >
              </span>
            </div>
              </div>
              <div itemscope itemtype="" class="prod col-xs-6 product col-sm-4" id="382425" data-product="382425">
                <a class="prod-img"  href="image/4副本.jpg" target="_blank"><img itemprop="image" src="../image/24ab9364fbb461fb24e2bc49138426c7.jpg">
                </a>
                <div class="price login-box" >
                  <span>39<span class="rmb">￥</span></span>
              </div>
              <div class="prod-user">
                  <div class="avatar pull-left"><img src="../image/4.jpg">
                </div>
                <a href="">微信:</a>
                <a href="">qq:</a>

              </div>
              <div class="like">
                <span class="bt-like login-box" data-toggle="tooltip" data-placement="buttom"  >
              </span>
            </div>
              </div>

             
           </div>
  </div>
</div>

       <footer>
          <div class="container">
            <div class="row">
              <div class="col-md-12">
               
               <div class="copy">&copy; 2015 · 起跳团队· 版权所有&nbsp;&nbsp;&nbsp;&nbsp;<a href="/about" id="jiaru">加入我们</a></div>

              </div>
            </div>
          </div>
        </footer>
    
    </body>