<!DOCTYPE html>
  <html lang="en">
    
    <head>
      
      <title>校园活动</title>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!--控制编码，ie8，和页面初始化-->
      
      <script src="js/jquery-2.1.1.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js/koahelloword.js"></script>

      <link rel="stylesheet" href="../css/bootstrap.min.css">
      <link rel="stylesheet" href="../css/bootstrap-theme.min.css">
      <link rel="stylesheet" href="../css/bootstrap-responsive.css">
      <link rel="stylesheet" href="../css/帮助.css">
      
     
  </head>
  <body>
    <div class="container">
      <div class="textxiaoye"></div>
      <div class="textdaye">
        <form  class="textdie">
          <h4>1.本网站无需登陆注册,如需注册，因为无法防止撞库攻击，请用与现有账号完全不同的注册，保证账号安全<br><br>
          2.本站暂时不提供社团活动随意发布，如果有活动宣传需要的，请通知我们，我们后台审核添加<br><br>
          3.本站的校园易物版块，请大家把图片切成480*480px ，最好是72dpi的 保证风格统一<br><br>
          4.这个版本是试运行的beta版本，在下学期9月份我们将推出迭代后的一代产品，<br>如果有人觉得这个版本太烂，欢迎用新鲜代码砸向我们<br><br>
          5.希望前端懂bootstrap，有javascript，html，html5，css，css3经验，了解react框架，jquery库有基础的联系我们<br><br>
          6.数据库了解mongoDB的，做过数据挖掘，或者感兴趣的也请联系我们<br><br>
          7.在服务器端，了解nodejs，懂express，想学酷炫koa的请联系我们<br><br>
          8.在ui端，会制作gif，设计logo，整体画ui图的，摄影爱好者，手绘素描油画达人，你懂的，we want you<br><br>
          9.如果你这些都不懂，但你努力上进，想比昨天的自己有进步，那么洲哥也需要你，我们一起进步<br><br>
          10.也就没什么了，希望大家给我们一点时间，让我们再长长</h4><br>
           
          

        </form>
          
          <div><h5>编码&amp;设计:&nbsp;吴雨洲&nbsp;&nbsp;&nbsp;编码:&nbsp;李齐雨&nbsp;&nbsp;&nbsp;
          彩绘:&nbsp;冯佳瑞&nbsp;&nbsp;&nbsp;素描:&nbsp;候雅欣&nbsp;&nbsp;&nbsp;
          qq:&nbsp;2297235604&nbsp;&nbsp;&nbsp;
        </h5>
          <h5>
         请加入我们，让我们一起成长</h5>
          </div>



      </div>
      
    </div>

       <footer>
          <div class="container">
            <div class="row">
              <div class="col-md-12">
               
               <div class="copy">&copy; 2015 · 起跳团队· 版权所有&nbsp;&nbsp;&nbsp;&nbsp;<a href="/home" id="jiaru">返回首页</a></div>

              </div>
            </div>
          </div>
        </footer>

    </body>