<!DOCTYPE html>
  <html lang="en">
    
    <head>
      
      <title>校园活动</title>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!--控制编码，ie8，和页面初始化-->
      
      <script src="js/jquery-2.1.1.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      
      <link rel="stylesheet" href="../css/bootstrap.min.css">
      <link rel="stylesheet" href="../css/bootstrap-theme.min.css">
      <link rel="stylesheet" href="../css/bootstrap-responsive.css">
      <link rel="stylesheet" href="../css/校园活动.css">
     
     
  </head>


    <body>
      <nav class="navbar navbar-default ">
         <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <a class="navbar-brand" href="/home">首页</a>
            </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
           <div >
              <ul class="nav navbar-nav">
              <li><a href="/home/action">校园活动</a></li>
              <li><a href="/home/swrap">校园易物</a></li>
             
       
         <li><a href="/home/user" class="navbar-right">个人中心</a></li>
         <li><a href="/home/help" class="nav-font">帮助</a></li>
     
      </ul>
     
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


    <article >
     <section class="row" style="margin-top:40px;">
      
      <div class="col-md-9 panel relative" style="display: block;">
         
          <div class="row">
                <div class="col-md-7">
                  <img src="../image/3f363c258f276a843977ac37eace91c1.jpg" class="ipad-news">
                </div>
                
                <div class="col-md-5">
                <div class="padding-huge ">
                    <h1>校园歌手大赛</h1>
                    <p class="wo">“唱响青春，我梦飞翔”首届校园歌手大赛在学生的欢声笑语和津津乐道中落下帷幕，中小学十二名同学荣登前三名宝座，并获“校园小歌手”称号。
                    </p>
                    <br>
                
                </div>
      </div>
    </div>
    </div>



    
      <div class="col-md-9 panel relative" style="display: block;">
          
          <div class="row">
                <div class="col-md-7">
                  <img src="../image/1926e89ba7ee36079d3b239feab7b769.jpg" class="ipad-news">
                </div>
                
                <div class="col-md-5">
                <div class="padding-huge">
                    <h1>健美操比赛</h1>
                    <p class="wo">健美操是一种有氧运动，特征是持续一定时间的、中低程度的全身运动，主要锻炼练习者的心肺功能，是有氧耐力素质的基础。[1]  跳健美操有诸多好处，不仅能帮助我们有效的强身健体，而且还有减肥的功效，这种运动减肥方法集健美和健身于一体，特别适合女性，受到了广大女性同胞的喜爱。</p>
                    <br>
                
                </div>
      </div>
    </div>
    </div>

       <div class="col-md-9 panel relative" style="display: block;">
          
          <div class="row">
                <div class="col-md-7">
                  <img src="../image/c995d143ad4bd113653d55675aafa40f4afb05f6.jpg" class="ipad-news">
                </div>
                
                <div class="col-md-5">
                <div class="padding-huge">
                    <h1>运动会</h1>
                    <p class="wo">运动会,也称“综合性运 动会”。指包括若干个运动项目的规模较大的运动竞赛会。如奥林匹克运动会、亚洲运动会、全国运动会.....等。田径运动的竞赛习惯上也称“运动会”。 运动会能让民众能真正体会到运动能给他们带来的好处，进而推广运动。要知道，运动的根基在于民众的自觉性而不是官方的作秀。


                    </p>
                    <br>
                
                </div>
      </div>
    </div>
    </div>
   
        <div class="col-md-9 panel relative" style="display: block;">
         
          <div class="row">
                <div class="col-md-7">
                  <img src="../image/a11b67ba4848211d9264ed738c4654e7 2.jpg" class="ipad-news">
                </div>
                
                <div class="col-md-5">
                <div class="padding-huge ">
                    <h1>答辩ing</h1>
                    <p class="wo">毕业论文答辩是一种有组织、有准备、有计划、有鉴定的比较正规的审查论文的重要形式。为了搞好毕业论文答辩，在举行答辩会前，校方、答辩委员会、答辩者（撰写毕业论文的作者）三方都要作好充分的准备。在答辩会上，考官要极力找出来在论文中所表现的水平是真是假。
。
                    </p>
                    <br>
                
                </div>
      </div>
    </div>
    </div>
    



    <div class="col-md-3">
      <div class="pin-wrapper" style="height:222px;">
        <div class="pinned note-container" style="width:262px;left:991px;top:80px;position:fixed;">
          <div class="note">
            <h3>通知栏</h3>
          
           <p >西大停水停电两天。<br>
               重修不收费。<br>
               西大发钱了。
                    </p></div>
        </div>
      </div>
    </div>
    </section>

    
     
   
    


     

</article>
    
   
 <ul class="pagination">
    
  
  <li><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  

</ul>

       <footer>
          <div class="container">
            <div class="row">
              <div class="col-md-12">
               
               <div class="copy">&copy; 2015 · 起跳团队· 版权所有&nbsp;&nbsp;&nbsp;&nbsp;<a href="/about" id="jiaru">加入我们</a></div>

              </div>
            </div>
          </div>
        </footer>
    


    </body>