<!DOCTYPE html>
  <html lang="en">
    
    <head>
      
      <title>校园活动</title>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!--控制编码，ie8，和页面初始化-->
      
      <script src="js/jquery-2.1.1.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      
      <link rel="stylesheet" href="../css/bootstrap.min.css">
      <link rel="stylesheet" href="../css/bootstrap-theme.min.css">
      <link rel="stylesheet" href="../css/bootstrap-responsive.css">
      <link rel="stylesheet" href="../css/校园易物.css">
     
     
  </head>

  <body>
    
      <nav class="navbar navbar-default navbar-fixed-top">
         <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <a class="navbar-brand" href="/home">
               <img alt="Brand" src="../image/loading.gif">
              </a>
              <a class="navbar-brand" href="/home">首页</a>
              
            </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
           <div class="navbar-form" >
              <ul class="nav navbar-nav">
              <li><a href="/home/action">校园活动</a></li>
              <li><a href="/home/swrap">校园易物</a></li>
           
             <li><a href="/home/user" class="navbar-right">个人中心</a></li>
              
              <li><a href="#" class="nav-font">退出登录</a></li>
          
             <li><a href="/home/help" class="nav-font">帮助</a></li>
          
          </ul> 


             
   
      
    
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



 
   <header id="top" style="margin-top:60px">
     <div id="header1">
        <div class="container">
          <div class="row">
            <div id="logo" class="col-xs-2 col-sm-3"></div>
            <div id="menu-top" class="col-xs-8 col-sm-5"></div>
            <div id="menu-user" class="col-xs-1 col-sm-4">
              <ul>
                
                <li><a href="">我的关注</a></li>
                <li><a href="">排序</a></li>
                <li id="avatar-top"><a href=""><span class="avatar login-box"><img src="../image/4.jpg"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
     </div>
     <div id="header2" class="container">
       <div class="row">
         <div id="info-top" class="col-xs-12 col-sm-7">
         </div>
       </div>
     </div>

   
   </header>
        <!--头文件结束，晚上回来搞-->

   <div id="main">
     <div class="container">
       <div class="row">

          <div id="lists" class="col-xs-12 col-md-3" style="z-index:999;display:block;">
            <div style="height:412px;top:0px;">
              <div class="scrooly" style="position:relative; overflow:hidden;">
                <div style=" width:100%; position:relative;">
                  <div class="scr_content" style="position:absolute;
                  top:0px;left:0px;width:100%;height:auto;">

                    <ul class="nav nav-pills nav-stacked">
                      <li data-list="11940">
                        <a href="">电子产品</a>
                      </li>
                      <li data-list="11940">
                        <a href="">书籍</a>
                      </li>
                      <li data-list="11940">
                        <a href="">日用美妆</a>
                      </li>
                      <li data-list="11940">
                        <a href="">杂货</a>
                      </li>
                      <li data-list="11940">
                        <a href="">服饰工艺</a>
                      </li>
                    </ul>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="neeed" class="col-xs-9">
            <div clss="big-liste row">
               
              <div itemscope itemtype="" class="prod col-xs-6 product col-sm-4" id="382425" data-product="382425">
                <a class="prod-img"  href="/need/goods" target="_blank"><img itemprop="image" src="../image/00ea8016ef482878018dedb822fc1ded.jpg">
                </a>
                <div class="price login-box" >
                  <span>39<span class="rmb">￥</span></span>
              </div>
              <div class="prod-user">
                <div class="avatar pull-left"><img src="../image/4.jpg">
                </div>
                <a href="">微信:</a>
                <a href="">qq:</a>

              </div>
              <div class="like">
                <span class="bt-like login-box" data-toggle="tooltip" data-placement="buttom"  >
              </span>
            </div>
            </div>


              <div itemscope itemtype="" class="prod col-xs-6 product col-sm-4" id="382425" data-product="382425">
                <a class="prod-img"  href="image/4副本.jpg" target="_blank"><img itemprop="image" src="../image/4d7d60d32b14fae1b19920af7f9fa2ab.jpg">
                </a>
                <div class="price login-box" >
                  <span>39<span class="rmb">￥</span></span>
              </div>
              <div class="prod-user">
                  <div class="avatar pull-left"><img src="../image/4.jpg">
                </div>
                <a href="">微信:</a>
                <a href="">qq:</a>

              </div>
              <div class="like">
                <span class="bt-like login-box" data-toggle="tooltip" data-placement="buttom"  >
              </span>
            </div>
              </div>
              <div itemscope itemtype="" class="prod col-xs-6 product col-sm-4" id="382425" data-product="382425">
                <a class="prod-img"  href="image/4副本.jpg" target="_blank"><img itemprop="image" src="../image/24ab9364fbb461fb24e2bc49138426c7.jpg">
                </a>
                <div class="price login-box" >
                  <span>39<span class="rmb">￥</span></span>
              </div>
              <div class="prod-user">
                  <div class="avatar pull-left"><img src="../image/4.jpg">
                </div>
                <a href="">微信:</a>
                <a href="">qq:</a>

              </div>
              <div class="like">
                <span class="bt-like login-box" data-toggle="tooltip" data-placement="buttom"  >
              </span>
            </div>
              </div>
              <div itemscope itemtype="" class="prod col-xs-6 product col-sm-4" id="382425" data-product="382425">
                <a class="prod-img"  href="image/4副本.jpg" target="_blank"><img itemprop="image" src="../image/03335c4336800c6bfd3736c6ac566e31.jpg">
                </a>
                <div class="price login-box" >
                  <span>39<span class="rmb">￥</span></span>
              </div>
              <div class="prod-user">
                <div class="avatar pull-left"><img src=""></div>
                <a href="">联系方式：微信，电话</a>

              </div>
              <div class="like">
                <span class="bt-like login-box" data-toggle="tooltip" data-placement="buttom"  >
              </span>
            </div>
              </div>

              <div itemscope itemtype="" class="prod col-xs-6 product col-sm-4" id="382425" data-product="382425">
                <a class="prod-img"  href="image/4.jpg" target="_blank"><img itemprop="image" src="../image/1142675d1ae3d62bafa9275372ee44cf.jpg">
                </a>
                <div class="price login-box" >
                  <span>39<span class="rmb">￥</span></span>
              </div>
              <div class="prod-user">
                <div class="avatar pull-left"><img src=""></div>
                <a href="">联系方式：微信，电话</a>

              </div>

              <div class="like">
                <span class="bt-like login-box" data-toggle="tooltip" data-placement="buttom"  >
              </span>
            </div>
              </div>
              <div itemscope itemtype="" class="prod col-xs-6 product col-sm-4" id="382425" data-product="382425">
                <a class="prod-img"  href="image/4副本.jpg" target="_blank"><img itemprop="image" src="../image/a458641c57d09c304eda0cda4a888a74.jpg">
                </a>
                <div class="price login-box" >
                  <span>39<span class="rmb">￥</span></span>
              </div>
              <div class="prod-user">
                <div class="avatar pull-left"><img src=""></div>
                <a href="">联系方式：微信，电话</a>

              </div>
              <div class="like">
                <span class="bt-like login-box" data-toggle="tooltip" data-placement="buttom"  >
              </span>
            </div>
              </div>
              <div itemscope itemtype="" class="prod col-xs-6 product col-sm-4" id="382425" data-product="382425">
                <a class="prod-img"  href="image/4副本.jpg" target="_blank"><img itemprop="image" src="../image/bb78792357c3898bee114ccc55632107.jpg">
                </a>
                <div class="price login-box" >
                  <span>39<span class="rmb">￥</span></span>
              </div>
              <div class="prod-user">
                <div class="avatar pull-left"><img src=""></div>
                <a href="">联系方式：微信，电话</a>

              </div>
              <div class="like">
                <span class="bt-like login-box" data-toggle="tooltip" data-placement="buttom"  >
              </span>
            </div>
              </div>
              <div itemscope itemtype="" class="prod col-xs-6 product col-sm-4" id="382425" data-product="382425">
                <a class="prod-img"  href="image/4副本.jpg" target="_blank"><img itemprop="image" src="../image/d86e28a05be3f5ed933daa5ff23d22ea.jpg">
                </a>
                <div class="price login-box" >
                  <span>39<span class="rmb">￥</span></span>
              </div>
              <div class="prod-user">
                <div class="avatar pull-left"><img src=""></div>
                <a href="">联系方式：微信，电话</a>

              </div>
              <div class="like">
                <span class="bt-like login-box" data-toggle="tooltip" data-placement="buttom"  >
              </span>
            </div>
              </div>
              <div itemscope itemtype="" class="prod col-xs-6 product col-sm-4" id="382425" data-product="382425">
                <a class="prod-img"  href="image/4副本.jpg" target="_blank"><img itemprop="image" src="../image/e0b68c9d355c5f7a7bff51ef649dc45e.jpg">
                </a>
                <div class="price login-box" >
                  <span>39<span class="rmb">￥</span></span>
              </div>
              <div class="prod-user">
                <div class="avatar pull-left"><img src=""></div>
                <a href="">联系方式：微信，电话</a>

              </div>
              <div class="like">
                <span class="bt-like login-box" data-toggle="tooltip" data-placement="buttom"  >
              </span>
            </div>
              </div>
              <div itemscope itemtype="" class="prod col-xs-6 product col-sm-4" id="382425" data-product="382425">
                <a class="prod-img"  href="image/4副本.jpg" target="_blank"><img itemprop="image" src="../image/f0a5c632d4b62572bfa1e46e7d81d843.jpg">
                </a>
                <div class="price login-box" >
                  <span>39<span class="rmb">￥</span></span>
              </div>
              <div class="prod-user">
                <div class="avatar pull-left"><img src=""></div>
                <a href="">联系方式：微信，电话</a>

              </div>
              <div class="like">
                <span class="bt-like login-box" data-toggle="tooltip" data-placement="buttom"  >
              </span>
            </div>
              </div>
              <div itemscope itemtype="" class="prod col-xs-6 product col-sm-4" id="382425" data-product="382425">
                <a class="prod-img"  href="image/4副本.jpg" target="_blank"><img itemprop="image" src="../image/bb78792357c3898bee114ccc55632107.jpg">
                </a>
                <div class="price login-box" >
                  <span>39<span class="rmb">￥</span></span>
              </div>
              <div class="prod-user">
                <div class="avatar pull-left"><img src=""></div>
                <a href="">联系方式：微信，电话</a>

              </div>
              <div class="like">
                <span class="bt-like login-box" data-toggle="tooltip" data-placement="buttom"  >
              </span>
            </div>
              </div>
              <div itemscope itemtype="" class="prod col-xs-6 product col-sm-4" id="382425" data-product="382425">
                <a class="prod-img"  href="image/4副本.jpg" target="_blank"><img itemprop="image" src="../image/bb78792357c3898bee114ccc55632107.jpg">
                </a>
                <div class="price login-box" >
                  <span>39<span class="rmb">￥</span></span>
              </div>
              <div class="prod-user">
                <div class="avatar pull-left"><img src=""></div>
                <a href="">联系方式：微信，电话</a>

              </div>
              <div class="like">
                <span class="bt-like login-box" data-toggle="tooltip" data-placement="buttom"  >
              </span>
            </div>
              </div>
              <div itemscope itemtype="" class="prod col-xs-6 product col-sm-4" id="382425" data-product="382425">
                <a class="prod-img"  href="image/4副本.jpg" target="_blank"><img itemprop="image" src="../image/bb78792357c3898bee114ccc55632107.jpg">
                </a>
                <div class="price login-box" >
                  <span>39<span class="rmb">￥</span></span>
              </div>
              <div class="prod-user">
                <div class="avatar pull-left"><img src=""></div>
                <a href="">联系方式：微信，电话</a>

              </div>
              <div class="like">
                <span class="bt-like login-box" data-toggle="tooltip" data-placement="buttom"  >
              </span>
            </div>
              </div>
              <div itemscope itemtype="" class="prod col-xs-6 product col-sm-4" id="382425" data-product="382425">
                <a class="prod-img"  href="image/4副本.jpg" target="_blank"><img itemprop="image" src="../image/bb78792357c3898bee114ccc55632107.jpg">
                </a>
                <div class="price login-box" >
                  <span>39<span class="rmb">￥</span></span>
              </div>
              <div class="prod-user">
                <div class="avatar pull-left"><img src=""></div>
                <a href="">联系方式：微信，电话</a>

              </div>
              <div class="like">
                <span class="bt-like login-box" data-toggle="tooltip" data-placement="buttom"  >
              </span>
            </div>
              </div>
              <div itemscope itemtype="" class="prod col-xs-6 product col-sm-4" id="382425" data-product="382425">
                <a class="prod-img"  href="image/4副本.jpg" target="_blank"><img itemprop="image" src="../image/bb78792357c3898bee114ccc55632107.jpg">
                </a>
                <div class="price login-box" >
                  <span>39<span class="rmb">￥</span></span>
              </div>
              <div class="prod-user">
                <div class="avatar pull-left"><img src=""></div>
                <a href="">联系方式：微信，电话</a>

              </div>
              <div class="like">
                <span class="bt-like login-box" data-toggle="tooltip" data-placement="buttom"  >
              </span>
            </div>
              </div>
              <div itemscope itemtype="" class="prod col-xs-6 product col-sm-4" id="382425" data-product="382425">
                <a class="prod-img"  href="image/4副本.jpg" target="_blank"><img itemprop="image" src="../image/bb78792357c3898bee114ccc55632107.jpg">
                </a>
                <div class="price login-box" >
                  <span>39<span class="rmb">￥</span></span>
              </div>
              <div class="prod-user">
                <div class="avatar pull-left"><img src=""></div>
                <a href="">联系方式：微信，电话</a>

              </div>
              <div class="like">
                <span class="bt-like login-box" data-toggle="tooltip" data-placement="buttom"  >
              </span>
            </div>
              </div>




                
       </div>
     </div>
   </div>

</div>
</div>

  



       <footer>
          <div class="container">
            <div class="row">
              <div class="col-md-12">
               
               <div class="copy">&copy; 2015 · 起跳团队· 版权所有&nbsp;&nbsp;&nbsp;&nbsp;<a href="/about" id="jiaru">加入我们</a></div>

              </div>
            </div>
          </div>
        </footer>
    


    </body>