
<html lang="zh-CN">
  <head>
  
      
      <title>登录</title>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!--控制编码，ie8，和页面初始化-->
      
      <script src="js/jquery-2.1.1.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js/denglu.js"></script>
      
      <link rel="stylesheet" href="css/bootstrap.css">
      <link rel="stylesheet" href="css/bootstrap-theme.min.css">
      <link rel="stylesheet" href="css/bootstrap-responsive.css">
      <link rel="stylesheet" href="css/登录.css">
     
  </head>
  <body>
     <nav class="navbar navbar-default ">
         <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <a class="navbar-brand" href="/home">随便逛逛</a>
            </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
           <div >
              <ul class="nav navbar-nav">
              
              <li><a href="/home/help">帮助</a></li>
              </ul>
      
      
     
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>





     
   

      <div  class="container">
        <section class="loginBox row-fluid">
          <form action="/user/login" method="POST" class="span12">

            <h1>用户登录</h1>
            <p>用户名:<input type="text" name="account" placeholder="实名的小伙伴"/></p>
            <p>密码：&nbsp;<input type="text" name="password" placeholder="密码我就不告诉你"/></p>
      
            <section class="row-fluid denglu">
              <section class="span5 xiaci">
                <label><input type="checkbox" name="rememberme" />自动登录
                </label>
            </section>
            <section class="span7">
            <input type="submit" value=" 登录 " class="btn btn-primary">
          </section>
            </section>
          
         </form>
        </section>
    </div>
    <!-- /container -->
      <footer>
          <div class="container">
            <div class="row">

               <div class="demo">
            <div class="demo-bg"></div><!-- 透明背景 -->
            <div class="copy">&copy; 2015 · 起跳团队· 版权所有&nbsp;&nbsp;&nbsp;&nbsp;<a href="/about" id="jiaru">加入我们</a></div>
            <!-- 不透明文字 -->
              </div>
            </div>
          </div>
     </footer>

  </body>
</html>