body {
    background: url(../image/jiaoxuelou1.jpg) repeat;
    overflow-x: hidden;
    z-index: -1;
}


.navbar-brand{
	font-size: 23px;

}
.navbar-right{
	
	margin-left: 600px!important;

}

.nav-font{
	font-size: 12px;
	float: right!important;
}
nav a:not(.dropdown-menu) {
    color: #00699E;
    transition: all 300ms ease 0s;
}

nav a:hover:not(.btn), nav a:active:not(.btn) {
    color: #fff;
    background: #0099FF;
    text-decoration: none;
    transform: translateY(-7px);
}
.container-fluid{
    margin-left: 100px;
}
#header1{
	position: fixed;
	width: 100%;
	z-index: 11;
}
#header1 > div {
  background-color: #fff;
  z-index: 10;
  position: relative;
  border-bottom: 1px solid #eee;
  padding-top: 15px;
  padding-bottom: 12px;
}

#menu-user{

}

ul{
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}

#menu-user ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#menu-user ul li {
  display: inline-block;
}

#avatar-top .avatar {
  max-width: 28px;
  position: absolute;
  right: 10px;
  top: 2px;
}

.avatar, .avatar_flw {
  position: relative;
  -webkit-border-radius: 200px;
  border-radius: 200px;
  overflow: hidden;
  max-width: 75px;
}

#lists .scrooly {
  width: 100%;
  height: 100%;
  padding-right: 26px;
}

#lists {
  font-size: 13px;
  margin-top: 25px;
}

#lists > div {
  position: absolute;
  width: 100%;
  height: 100%;
}

#lists .nav > li > a {
  padding-left: 34px;
  background-color: #F3F1F1;
  color: #888;
  border: 1px solid #eee;
  padding-top: 6px;
  padding-bottom: 6px;
}

.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.big-liste, .flw-list {
  clear: both;
  padding-bottom: 55px;
}
.big-liste, .flw-list {
  clear: both;
  padding-bottom: 55px;
}
.big-liste .prod-img img, .flw-list .prod-img img {
}
img {
  max-width: 100%;
  height: auto;
}
img {
  vertical-align: middle;
}
img {
  border: 0;
}
.big-liste .prod-user, .flw-list .prod-user {
  text-align: left;
  display: inline-block;
  min-height: 52px;
  margin: auto;
  font-size: 12px;
  line-height: 1.3em;
  color: #777;
}

.big-liste .product, .flw-list .product {
  text-align: center;
}
.hidden-xs {
  display: block !important;
}

.pull-right {
  float: right !important;
}
.fleche-filtre, .fleche-liste {
  display: block;
  color: #dedede;
  height: 30px;
  line-height: 30px;
  font-size: 10px;
  margin-right: 15px;
}

#header1 {
  position: fixed;
  width: 100%;
  z-index: 10;
}
#header1 {
  z-index: 11 !important;
}

#header2 {
  padding-top: 83px;
  padding-bottom: 27px;
  border-bottom: 1px solid #eee;
}
#header3 > div {
  background-color: #fff;
  z-index: 10;
  position: relative;
  border-bottom: 1px solid #eee;
  padding-top: 12px;
}
#logo {
  padding-left: 12px;
}
#logo {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
#logo a {
  display: block;
  font-size: 18px;
  padding-top: 5px;
}
.logotypo {
  width: 48px;
  height: 15px;
  background: transparent url(../img/logo_off.png) no-repeat;
  margin-top: 4px;
  margin-left: 38px;
  background-size: 48px 15px;
}
.big-liste .like .bt-like, .flw-list .like .bt-like {
  background: transparent url(../img/sprite.png) no-repeat -17px -200px;
}



footer a {
    color: #00FF00;
  }

footer a:hover, footer a:focus{
    color: #FFFF00;
 }

footer { 
    background-color: #242830; 
    opacity: 0.85;
    color: #8c9398;
     padding: 30px 0; text-align: center; 
     margin-top: 35px;
     height: 30px;
     }

footer .copy {
    font-size: 10px; text-align: center; color: white;
    
}

