body {
	background: url("../image/0011.jpg");
	overflow-x:hidden;
	opacity:0.85;
}


.loginBox{
	width:380px;height:240px;padding:5 15px 5px 65px;
	color:#000;  border-radius:17px;
	background: url("../image/jiaoxuelou1.jpg")no-repeat center center;
	font:11px/1.5em 'Microsoft YaHei' ;
	position: absolute;left:50%;top:50%;
	margin-left:-210px;margin-top:-115px;
}
.loginBox h1{
	height:50px;font-size:33px;color: #000000;
}


p{
	font-size: 15px;
}

.xiaci{
	margin-top: 10px;
}


.demo{
    width: 400px;
    height:20px;
    position: absolute;
    margin-top:500px;
    margin-left: 380px;
   
}



.demo-bg{
	
    position: absolute;
    z-index: 1;
    width: 400px;
    max-width: 450px;
    height: 25px;
    background-color:#000000;
   
    background-color: rgba(0,0,0,0.5);
}

.copy{
    font-size: 14px;
    text-align: center;
	
    position: relative;
    z-index: 2;
    color: #FFFFFF;
}


a{
	color: #00FF00;
}


a:hover:not(.btn), a:active:not(.btn) {
    color: #FFFF00;
    
    transform: translateY(-6px);
}
nav a:hover,nav a:active{
    color: white;
}
footer{
    margin-top: 10px;
}